<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.armin.android.regionalschmankerln" >

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Regional- Schmankerln"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Regional- Schmankerln"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Produkte"
            android:label="@string/title_activity_produkte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Informationen"
            android:label="@string/title_activity_informationen"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Kontakt"
            android:label="@string/title_activity_kontakt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Partner"
            android:label="@string/title_activity_partner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Impressum"
            android:label="@string/title_activity_impressum"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AGBs"
            android:label="@string/title_activity_agbs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MeinProfil"
            android:label="@string/title_activity_mein_profil"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MeineProdukte"
            android:label="@string/title_activity_meine_produkte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetStartseite"
            android:label="@string/title_activity_angemeldet_startseite"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetProdukte"
            android:label="@string/title_activity_angemeldet_produkte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetInformationen"
            android:label="@string/title_activity_angemeldet_informationen"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetKontakt"
            android:label="@string/title_activity_angemeldet_kontakt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetPartner"
            android:label="@string/title_activity_angemeldet_partner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetImpressum"
            android:label="@string/title_activity_angemeldet_impressum"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AngemeldetAGBs"
            android:label="@string/title_activity_angemeldet_agbs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
